body {
  margin: 0;
  padding: 0;
  background-color: #f5f5f5; /* TodoMVC Zemini */
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
}

.app-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
}